@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Italic.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../fonts/open-sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Italic.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Italic.ttf') format('truetype'),
        url('../onts/open-sans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-ExtraBold.eot');
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../fonts/open-sans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Bold.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-BoldItalic.eot');
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../fonts/open-sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic.eot');
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url('../fonts/open-sans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Light.eot');
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../fonts/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Light.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-LightItalic.eot');
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../fonts/open-sans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-LightItalic.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Medium.eot');
    src: local('Open Sans Medium'), local('OpenSans-Medium'),
        url('../fonts/open-sans/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Medium.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Medium.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-Medium.svg#OpenSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-MediumItalic.eot');
    src: local('Open Sans Medium Italic'), local('OpenSans-MediumItalic'),
        url('../fonts/open-sans/OpenSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-MediumItalic.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-MediumItalic.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-MediumItalic.svg#OpenSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Regular.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-SemiBoldItalic.eot');
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
        url('../fonts/open-sans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-SemiBold.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/open-sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype'),
        url('../fonts/open-sans/OpenSans-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalam';
    src: url('../fonts/kalam/Kalam-Bold.eot');
    src: local('Kalam Bold'), local('Kalam-Bold'),
        url('../fonts/kalam/Kalam-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kalam/Kalam-Bold.woff2') format('woff2'),
        url('../fonts/kalam/Kalam-Bold.woff') format('woff'),
        url('../fonts/kalam/Kalam-Bold.ttf') format('truetype'),
        url('../fonts/kalam/Kalam-Bold.svg#Kalam-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalam';
    src: url('../fonts/kalam/Kalam-Regular.eot');
    src: local('Kalam'), local('Kalam-Regular'),
        url('../fonts/kalam/Kalam-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kalam/Kalam-Regular.woff2') format('woff2'),
        url('../fonts/kalam/Kalam-Regular.woff') format('woff'),
        url('../fonts/kalam/Kalam-Regular.ttf') format('truetype'),
        url('../fonts/kalam/Kalam-Regular.svg#Kalam-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalam';
    src: url('../fonts/kalam/Kalam-Light.eot');
    src: local('Kalam Light'), local('Kalam-Light'),
        url('../fonts/kalam/Kalam-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/kalam/Kalam-Light.woff2') format('woff2'),
        url('../fonts/kalam/Kalam-Light.woff') format('woff'),
        url('../fonts/kalam/Kalam-Light.ttf') format('truetype'),
        url('../fonts/kalam/Kalam-Light.svg#Kalam-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}